body {
    background-color: black;
    color: grey;
    font-family: "Times New Roman";
    font-size: 20px;
}

h1 {
    color: darkorange;
    font-family: "Times New Roman";
    text-align: center;
}

img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr.style1 {
    width: 50%;
    color: orange; 
}

figure.porto1 {
    display: inline-block;
}

figure.porto2 {
    display: inline-block;
}

figure.porto3 {
    display: inline-block;
}

figure.porto4 {
    display: inline-block;
}

p {
    word-spacing: 3px;
    margin-left: 20px;
}

a:visited, a:link {
    color: #4682b4;
}

h2 {
    margin-left: 10px;
    color: darkorange;
}

p.welcome {
    text-align: center;
}

figcaption {
    text-align: center;
}




